*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;

}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #4d66f5e0, #ed979794);
     
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color:#ffffff00;
    
    backdrop-filter: blur(8px);
    border-radius: 8px;  
    box-shadow: 2px 2px 5px;
    z-index: 2;
}
.signup-header h1{
    font-size: 2.5rem;
    color: 212121;
}
.signup-header p{
    font-size: 0.9rem;
    color: 555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
     margin: 10px 0;
}
.signup-body label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}
#submit{
    background-color: burlywood ;
    border: none;
    color: rgb(8 17 248);
    cursor: pointer;
    
}
#submit:hover{
    background-color: rgb(244, 171, 76);
}

.signup-footer p{
    color: #555;
    text-align: center;

}
.signup-footer p a{
     color:rgb(8 17 248) ;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to right, #ed9797, #ffffffaa);
    position: absolute;
}
.c1{
    top: 100px ;
    left: 40px;
}

.c2{
    bottom: 100px;
    right: 40px;
}
